.shop-wrap {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.shop-info {
  text-align: center;
}

.shop-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-item {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;

  border-radius: 20px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 8px 8px 18px 5px,
    inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
}

.shop-item img {
  margin: 1rem;

  float: left;

  width: 35%;
  height: auto;
  min-width: 275px;

  border-radius: 20px;
}

.shop-item-description {
  margin: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 35%;
}
